name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build image
        run: docker build -t pandas-demo:${{ github.sha }} .

      - name: Run container
        run: docker run pandas-demo:${{ github.sha }}

